<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <!-- Heading -->
      <h1 *ngIf="current_user_name" class="mt-4 text-center ">
        Hello {{ current_user_name }}!
      </h1>

      <!-- Text -->
      <p class="mb-6 mt-4 text-center text-muted">
        Welcome To ShareIt!
         
      </p>
      <p class="mb-6 text-center text-muted">
       
        Save Time - Save Money - Keep Green Environment  
      </p>

    </div>
  </div> <!-- / .row -->
  <div class="row form-row align-items-center">
    <div class="col-3">

      <div class="img-square">
        <img src="https://media.istockphoto.com/id/1267460241/photo/outdoor-kitchen-equipment-and-wooden-table-set-with-field-tents-group-in-camping-area-at.jpg?s=612x612&w=0&k=20&c=jQSlIFAmj32dptnvMzvedvrycDpEMmm4Z1gzeKwDs_4=" alt="..." class="img-cover">
      </div>
      
    </div>
    <div class="col-6">
      <div class="row form-row align-items-end mb-2">
        <div class="col-7">
          
          <div class="img-square">
            <img src="https://media.istockphoto.com/id/492201907/photo/many-tools.jpg?s=612x612&w=0&k=20&c=zCuvI6bjhmpsGkbvKK6vBI6Zovv_bRgIrDNSAC3x3tM=" alt="..." class="img-cover">
          </div>
          
        </div>
        <div class="col-5">
          
          <div class="img-square">
            <img src="https://media.istockphoto.com/id/843249732/photo/activist-sorting-paper-waste.jpg?s=612x612&w=0&k=20&c=obTiF9hSmGtfzBwgx9WIBtFusORnXYGmUeJQsXUd2Ls=" alt="..." class="img-cover">
          </div>
       

        </div>
      </div> <!-- / .row -->
      <div class="row form-row">
        <div class="col-5">
          
          <div class="img-square">
            <img src="https://media.istockphoto.com/id/165831199/photo/gardening-hand-trowel-and-fork-standing-in-garden-soil.jpg?s=612x612&w=0&k=20&c=FB8N-usuAp3amegZuZOOkxjZWJ1NgWTcw59Ip9pQ5qs=" alt="..." class="img-cover">
          </div>
        </div>
        <div class="col-7">
          
          <div class="img-square">
            <img src="https://media.istockphoto.com/id/155432541/photo/plumber-hands-holding-wrench-and-fixing-a-sink-in-bathroom.jpg?s=612x612&w=0&k=20&c=L-RRZeGV2LfaOYOf-i8gqvjP8J_-LWqjHfq7AxsKWG4=" alt="..." class="img-cover">
          </div>
        

        </div>
      </div> <!-- / .row -->
    </div>
    <div class="col-3">

      <div class="img-square">
        <img src="https://media.istockphoto.com/id/1025303196/photo/technology-in-home.jpg?s=612x612&w=0&k=20&c=AuIrpzcjRZpQeMw7cXRMLXtkWu3oCnKkjQbUGUAkvTQ=" alt="..." class="img-cover">
      </div>
      
    </div>
  </div> <!-- / .row -->
</div>


