<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="fname">*First name</label>
        <input
          type="text"
          class="form-control"
          name="fname"
          [(ngModel)]="form.fname"
          required
          minlength="2"
          maxlength="20"
          #fname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && fname.errors }"
        />
        <div class="invalid-feedback" *ngIf="fname.errors && f.submitted">
          <div *ngIf="fname.errors['required']">First name is required</div>
          <div *ngIf="fname.errors['minlength']">
            First name must be at least 2 characters
          </div>
          <div *ngIf="fname.errors['maxlength']">
            First name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lname">*Last name</label>
        <input
          type="text"
          class="form-control"
          name="lname"
          [(ngModel)]="form.lname"
          required
          minlength="2"
          maxlength="20"
          #lname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && lname.errors }"
        />
        <div class="invalid-feedback" *ngIf="lname.errors && f.submitted">
          <div *ngIf="lname.errors['required']">Last name is required</div>
          <div *ngIf="lname.errors['minlength']">
            Last name must be at least 2 characters
          </div>
          <div *ngIf="lname.errors['maxlength']">
            Last name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">*Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">*Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">*Phone number</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          [(ngModel)]="form.phone"
          required
          minlength="10"
          maxlength="10"
          #phone="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
        />
        <div class="invalid-feedback" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors['required']">Phone number is required</div>
          <div *ngIf="phone.errors['minlength'] || phone.errors['maxlength']">
            Phone number must be 10 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">*Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="organization_code">*Organization code</label>
        <input
          type="text"
          class="form-control"
          name="organization_code"
          [(ngModel)]="form.organization_code"
          required
          minlength="6"
          maxlength="20"
          #organization_code="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && organization_code.errors }"
        />
        <div
          class="invalid-feedback"
          *ngIf="organization_code.errors && f.submitted"
        >
          <div *ngIf="organization_code.errors['required']">
            Organization code is required
          </div>
          <div *ngIf="organization_code.errors['minlength']">
            Organiztion code must be at least 3 characters
          </div>
          <div *ngIf="organization_code.errors['maxlength']">
            Organiztion code must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="job">Job</label>
        <input
          type="text"
          class="form-control"
          name="job"
          [(ngModel)]="form.job"
          maxlength="50"
          #job="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && job.errors }"
        />
        <div class="invalid-feedback" *ngIf="job.errors && f.submitted">
          <div *ngIf="job.errors['maxlength']">
            Job must be at most 50 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="form.description"
          maxlength="50"
          #description="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
        />
        <div class="invalid-feedback" *ngIf="description.errors && f.submitted">
          <div *ngIf="description.errors['maxlength']">
            Description must be at most 50 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          class="form-check-input"
          type="checkbox"
          name="allow_emails"
          [(ngModel)]="form.allow_emails"
          #allow_emails="ngModel"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Allow email notifications
        </label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
